
*{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
}
header{
	width: 100%;
	height: 100px;
	background-color: #8C142A;
}
header img{
	float: left;
	width: 100px;
	height: 80px;
	position: relative;
	left: 2%;
	top: 10px;
}
.img{
	float: right;
	position: absolute;
	right: 100px;
}
header form{
	position: absolute;
	left: 200px;
	top: 30px;
}
.text{
	width: 300px;
	height: 30px;
	border-radius: 1.5em;
	padding: 2px;
}
.boton{
	height: 35px;
	border-radius: 1.5em;
}
nav ul{
	float: right;
	position: absolute;
	right: 300px;
	top: 40px;

}
nav ul li{
	display: inline;
	list-style: none;
}
nav a{
	font-style: none;
	border-radius: .5em;
	color: white;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	padding: .5em .7em ;
	transition: all .2s ease;
}
nav a:hover{
	background: white;
	color: black;
}

.contenedor_1{
	width: 230px;
	margin: auto;
	perspective: 600px;
	position: relative;
	margin-top: 60px;
	
}
.contenedor_carrousell{
	width: 70.7%;
	position: absolute;
	animation: rotar 10s infinite linear;
	transform-style: preserve-3d;

}
.contenedor_carrousell:hover{
	animation-play-state: paused;
	cursor: pointer;
}
.contenedor_carrousell figure{
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: absolute;
	box-shadow: 0px 0px 20px 0px black;
	transition: all 300ms;
}
.contenedor_carrousell figure:hover{
	box-shadow: 0px 0px 0px 0px black;
	transition: all 300ms;

}
.contenedor_carrousell figure:nth-child(1){ transform: rotateY(0deg)
 translateZ(300px);}
.contenedor_carrousell figure:nth-child(2){ transform: rotateY(32.7deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(3){ transform: rotateY(64.4deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(4){ transform: rotateY(98.1deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(5){ transform: rotateY(130.8deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(6){ transform: rotateY(163.5deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(7){ transform: rotateY(196.2deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(8){ transform: rotateY(228.9deg)
 translateZ(300px);}
 .contenedor_carrousell figure:nth-child(9){ transform: rotateY(261.6deg)
 translateZ(300px);}
  .contenedor_carrousell figure:nth-child(10){ transform: rotateY(294.7deg)
 translateZ(300px);}
  .contenedor_carrousell figure:nth-child(11){ transform: rotateY(327deg)
 translateZ(300px);}
  .contenedor_carrousell figure:nth-child(12){ transform: rotateY(360deg)
 translateZ(300px);}


.contenedor_carrousell img{
	width: 100%;
	transition: all 300ms;
}
.contenedor_carrousell img:hover{
	transform: scale(1.2);
	transition: all 300ms;
}
@keyframes rotar{
	from{
		transform: rotateY(0deg;);
	}to{
		transform: rotateY(360deg);
	}
}
.categoria{
	background: #CC0D3E;
	height: 40px;
	width: 100%;

}
p{
	font-size: 25px;
	position: relative;
	float: left;
	left: 300px;
	color: white; 
}

.contenedor_propagandas{
	width: 100%;
	height: 400px;
	position: absolute;
	top: 470px;
	background-color: #F9DBE3;

}

.propagandas{
	height: 250px;
	width: 200px;
	background:  #EDA6B3;
	display: inline;
	float: left;
	padding: 2em;
	margin-left: 40px;
	border-radius: 3em 0em 3em 0em;
	position: relative;
	left: 5%;
	top: 50px;


}
.propagandas:hover{
	box-shadow: 0px 0px 20px 0px black;
	transition: all 300ms;
}
.contenedor_propagandas .propagandas img{
	height: 200px;
	width: 100%;
}
.contenedor_propagandas .propagandas img:hover{
	transform: scale(1.2);
	box-shadow: 0px 0px 20px 0px black;
	transition: all 300ms;
	cursor: pointer;
}
.contenedor_propagandas .propagandas a{
border-radius: .2em;
	color: white;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	transition: all .2s ease;
	
}
.contenedor_propagandas .propagandas a:hover{
	background: white;
	color: black;
	cursor: pointer;
}
footer{
	height: 30px;
	width: 100%;
	position: relative;
	top: 670px;
	background-color: black;

}
footer p{
	font-size: 15px;
	color:white;
	position: relative;
	top: 5px;
	left: 500px;
}
#registro{
	height: 100%;
	background-image: url(../img/imagen19.jpg);
	background-size: cover;

}
.formulario{
	height: 550px;
	width: 40%;
	background-color:#A70B44 ;
	margin: auto;
	position: relative;
	top: 60px;
	border-radius: 0em 5em 0em 5em;
	box-shadow: 3px 3px 30px 20px white;
}
label{
	font-size: 20px;
	color: white;
}
form{
	margin: auto;
	padding:  0px 100px ;

}
div{
	margin-top: 5px;
}
#dia, #Año{
	width: 30px;
}
h3{
	color: white;
}
a{
	text-decoration: none;
	float: right;
	color: #0BA794;

}




